body {
  font-size: 16px;
}
h1 {
  font-size: 65px;
  color: orange;
  font-family: sans-serif;
  font-style: italic;
}
ul {
  background-color: grey;
  text-align: center;
}
.plu {
  background-color: aqua;
}
p {
  font-weight: 600;
  font-size: 3em;
  line-height: 55px;
}
#yellow {
  background-color: yellow;
}
#red {
  background-color: red;
}
#brown {
  background-color: brown;
}
li{
  text-decoration:line-through;
}
